body {
  background-color: rgb(216, 152, 152);
  color : white;
}

.box{ 
  margin: 80px 0px 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.js-clock{
  margin-bottom: 25px;
  background-color: green;
  padding: 10px;
  border-radius: 20px;
  opacity: 0.5;
}
.form,
.greetings {
  display: none;
  font-size: 30px;
  font-weight: 600;
}

.showing {
  display: block;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.js-toDoList li{
  font-size: 16px;
}

.js-weather{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
  background-color: green;
  opacity: 0.5;
  border-radius: 15px;
  padding: 10px;
}
.js-title{
  font-size: 80px;
}

input{ 
  opacity: 0.9;
  border-radius: 15px;
  height: 20px;
  width: 150px;
  margin-bottom: 10px;
}

.toDoList{
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.toDoList div{ 
  padding: 20px;
  background-color: green;
  opacity: 0.5;
  border-radius: 15px;
  line-height: 1.5;
}
.toDoList>div{
  margin: 20px;
  width: 200px;
}

.js-toDoForm{
  margin: 25px 0px;
}